@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(35, 50, 35);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* flexbox center */
    display: flex;
    flex-direction: column;
    /*keep it vertically centered*/
    justify-content: center;
    /*keep it horizontally centered*/
    align-items: center;
    color: aliceblue;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
ul {
    list-style-type: none;
}
a {
    color:rgb(212, 255, 228);
    text-decoration: none;
}
a:link{
    color:rgb(161, 241, 190);
}

header
{
    background: rgb(36,71,46);
    background: linear-gradient(0deg, rgba(36,71,46,1) 0%, rgba(54,93,54,1) 90%, rgba(74,105,64,1) 100%);
    box-shadow: 5px rgb(16, 52, 16);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo{
    display: inline-block;
    color: aliceblue;
    font-size: 60px;
    font-weight: bolder;
    padding: 5%;
    margin-left: 10px;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;

}
.nav-item a{
    display: block;
    padding: 30px;
    font-size: xx-large;
    color: aliceblue;
}

.nav{
    background-color: rgba(36,71,46,1);
    max-height: 0;
    transition: max-height .25s ease-in-out;
}

.hamb{
    cursor: pointer;
    float: right;
    align-items: center;
    transform: translateY(50%);
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: aliceblue;
    display: block;
    height: 3px;
    position: relative;
    width: 60px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: aliceblue;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-in-out;
    width: 100%;
}
.hamb-line::before{
    top: 10px;
}
.hamb-line::after{
    top: -10px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width:1000px) {
    .logo {
        padding: 10px;
    }
    .hamb{
        cursor: pointer;
        float: right;
        align-items: center;
        padding: 40px 20px;
        transform: translateY(0%);
    }/* Style label tag */
    .hamb-line {
        background: aliceblue;
        display: block;
        height: 3px;
        position: relative;
        width: 30px;
    
    }
}

/* index css */
.index-control {
    /* vertically center this div on the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(35, 50, 35);
    font-weight: 900;
}

/* comic page css */

.comic-container {
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.comic-header {
    font-size: xx-large;
    padding: 20px;
}

.comic-page {
    margin: 20px;
    max-width: 800px;
    box-shadow: 0px 0px 5px black;
}

.comic-description {
    font-weight: lighter;
    padding: 20px;
    color: rgb(192, 207, 216);
}

.comic-button
{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 0px;
    border-width: 0px;
    padding: 20px 30px;
    margin: 5px;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(36, 31, 24);
    color: aliceblue;
}

/* chapters */

.listed-chapter {
    background-color: rgb(35, 45, 30);
    box-shadow: -5px 5px 6px 0px rgba(0, 0, 0, 0.75);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}

.chapter-icon {
    width: 128px;
    height: 128px;
}

.chapter-name {
    color: aliceblue;
    padding: 20px;
    font-size: 1.5em;
}