{% extends "frame.html"%}

{%block content%}
<script src="{{ url_for('static', filename='main.js') }}" ></script>
<!-- password and username entry -->
<body>
    <h1 class="admin-header">{{ message }}</h1>
    <form class="admin-entry" action="/admin" method="post">
        <label class="login-entry-label" for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label class="login-entry-label" for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input class="submit" type="submit" value="Submit">
    </form>
    <p class="admin-real">get out pls</p>
    
</body> 
{%endblock%}