<!-- FILEPATH: /Users/admin/Desktop/Flaskmix/templates/adminpanel.html -->
<html>
    <head>
        <title>Admin Panel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    </head>
    <body>
        <h1 class="admin-header">
            Admin Panel
        </h1>
        <div class="admin-controls">
            <form action="/adminpanel/add" method="post">
                <h2>Add Comic</h2>
                <input type="text" name="image_path" placeholder="image.png (image name)">
                <input type="text" name="description" placeholder="Issue Description">
                <input type="submit" value="Add">
            </form>
            <form action="/adminpanel/upload" method="post" enctype="multipart/form-data">
                <h2>Upload Comic</h2>
                <input multiple type="file" id="image" name="file"  placeholder="image.png (image name)">
                <input type="submit" value="Upload">
            </form>
            <form action="/adminpanel/edit" method="post">
                <h2>Edit Comic</h2>
                <input type="number" name="id" placeholder="Issue Number">
                <input type="text" name="image_path" placeholder="image.png (image name)">
                <input type="text" name="description" placeholder="Issue Description">
                <input type="submit" value="Edit">
            </form>
            <form action="/adminpanel/massadd" method="post">
                <h2>Mass Add Comic</h2>
                <label for="low">First Page</label>
                <input type="number" name="low">
                <label for="high">Last Page</label>
                <input type="number" name="high">
                <input type="submit" value="Add">
            </form>
            <form action="/adminpanel/delete" method="post">
                <h2 style="color:red">DELETE Comic</h2>
                <input type="number" name="id" placeholder="Issue Number">
                <input type="submit" value="DELETE">
            </form>
            <h2 style="padding: 30px;">
                Chapters
            </h2>
            <form action="/adminpanel/chapteradd" method="post" enctype="multipart/form-data">
                <h2>Upload Comic</h2>
                <input type="text" name="image_path" placeholder="image.png (image name)">
                <input type="text" name="name" placeholder="chapter name">
                <input type="submit" value="Add">
            </form>
        </div>
        <h2 style="padding: 30px;">
            Database Contents
        </h2>
        <div class="admin-controls">
            form
        </div>
        <div class="jargon">
        {{comics}}
    </div>

    </body>
</html>
