<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<html>
    <nav class="navbar">
        <a class="navbar-brand" href="./index">{{sitename}}</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/comic/1">Comic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chapters">Chapters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sidecontent">Side-Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/characters">Characters</a>
        </ul>
    </nav>
    <body>

        <h1 class="comic-header">Chapters</h1>
        <h2 class="comic-header">Here you can find all the chapters of the comic.</h2>
        <ul>
            {% for chapter in chapters %}
                <li >
                    <a class="listed-chapter" href="{{ chapter.webpage }}">
                        <img class="chapter-icon" src="{{ url_for('static', filename=("chapter-icons/" + chapter.image_path )) }}">
                        <h2 class="chapter-name">{{ chapter.name }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
