<!-- FILEPATH: /Users/admin/Desktop/Flaskmix/templates/characters.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- image background style -->


<script src="{{ url_for('static', filename='main.js') }}"></script>
<div class="characters">
    <!-- list characters here -->

    <ul class="char-list">
        {% for character in characters %}
        <li style="justify-content: center;">
            <img class="character" src="{{ url_for('static', filename=(" characters/" +character )) }}">
        </li>
        {% endfor %}
    </ul>

</div>
