{% extends 'frame.html' %}
<title>Page {{ issue }} of {{ sitename }}</title>

{% block content %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
<div class="comic-container">
    <h1 class="comic-header">Page {{ issue }}</h1>
    <img class="comic-page" src="{{ url_for('static', filename=("comic-pages/" +p )) }}">
    <h2 class="comic-description">
        {{d}}
    </h2>
    <div class="comic-controls">
        <button class="comic-button" id="first-button">First</button>
        <button class="comic-button" id="prev-button">Previous</button>
        <button class="comic-button" id="next-button">Next</button>
        <button class="comic-button" id="last-button">Last</button>
    </div>
</div>
<script>
    var finalpage = {{ high }};
    var issue = {{ issue }}
    if (issue == 1) {
        document.getElementById("prev-button").disabled = true;
    }
    if (issue == finalpage) {
        document.getElementById("next-button").disabled = true;
    }
    function first() {
        window.location.href = "/comic/first";
    }
    function last() {
        window.location.href = "/comic/last";
    }
    function previous() {
        if (issue > 1) {
            issue -= 1;
            window.location.href = "/comic/" + issue;
        }
    }
    function next() {
        console.log(finalpage);
        if (issue < finalpage) {
            issue += 1;
            window.location.href = "/comic/" + issue;
        }
    }
    document.getElementById("first-button").addEventListener("click", first);
    document.getElementById("next-button").addEventListener("click", next);
    document.getElementById("prev-button").addEventListener("click", previous);
    document.getElementById("last-button").addEventListener("click", last);

</script>
{% endblock %}