<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <a class="logo" href="/index">{{site_config.main.siteTitle}}</a>
        <input class="side-menu" type="checkbox" id="side-menu" />
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="nav">
            <ul class="menu">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                {% if not site_config.theming.enableMultiComicMode %}
                <li class="nav-item">
                    <a class="nav-link" href="/comic/1">Read Comic</a>
                </li>
                {% endif %}
                {% if site_config.preferences.enablePageList %}
                <li class="nav-item">
                    <a class="nav-link" href="/pages">{{site_config.theming.pagesName}}</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/chapters">{{site_config.theming.chaptersName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sidecontent">{{site_config.theming.sideContentName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/characters">Characters</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>