<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <nav class="navbar">
        <a class="navbar-brand" href="./index">{{sitename}}</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/comic/1">Comic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chapters">Chapters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sidecontent">Side-Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/socialmedia">Contact</a>
        </ul>
    </nav>
    <body>

        <h1 class="comic-header">Side Content</h1>
        <h2 class="comic-header">Here you can find all the supplemental content.</h2>
        <ul>
            {% for chapter in chapters %}
                <li >
                    <a class="listed-chapter" href="{{ chapter.filename }}">
                        <img class="chapter-icon" src="{{ url_for('static', filename=("chapter-icons/" + chapter.banner_image )) }}">
                        <div class="sc-nd">
                            <h2 class="chapter-name">{{ chapter.name }}</h2>
                            <h4 class="chapter-desc" style="font-size:small;" class="chapter-description">{{ chapter.description }}</h4>
                        </div>
                        
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
