<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<html>
    <div class="navigation">
        <div class="menu">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
            <div class="bar bar-3"></div>
            
        </div>
        <nav>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comic/1">Comic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chapters">Chapters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sidecontent">Side-Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/characters">Characters</a>
                </li>
            </ul>
        </nav>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}" ></script>
    <body>

        <h1 class="comic-header">Side Content</h1>
        <h2 class="comic-header">Here you can find all the supplemental content.</h2>
        <ul>
            {% for chapter in chapters %}
                <li >
                    <a class="listed-chapter" href="{{ chapter.filename }}">
                        <img class="chapter-icon" src="{{ url_for('static', filename=("chapter-icons/" + chapter.banner_image )) }}">
                        <div class="sc-nd">
                            <h2 class="chapter-name">{{ chapter.name }}</h2>
                            <h4 class="chapter-desc" style="font-size:small;" class="chapter-description">{{ chapter.description }}</h4>
                        </div>
                        
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
