<!doctype html>
<title>{{comname}}</title>
<!-- load style.css from static -->
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="../index">{{sitename}}</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/comic/1">Comic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chapters">Chapters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sidecontent">Side-Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/socialmedia">Contact</a>
        </ul>
    </nav>
    <header>
        
    </header>
    <h1 class="comic-header">{{comname}} | Page {{ issue }}</h1> 
    <img class="comic-page"  src="{{ url_for('static', filename=("side-pages/" +p )) }}">
    <div class="comic-controls">
        <button id="first-button" >First</button>
        <button id="prev-button" >Previous</button>
        <button id="next-button" >Next</button>
        <button id="last-button" >Last</button>
    </div>
    <p>
        {{ comic }}
    </p>
</body>

<script>
    var finalpage = {{ high }};
    var issue = {{ issue}};
    var data = "{{ filename }}";
    if (issue == 1) {
        document.getElementById("prev-button").disabled = true;
    }
    if (issue == finalpage) {
        document.getElementById("next-button").disabled = true;
    }
    function first() {
        window.location.href = "/"+data+"/first";
    }
    function last(){
        window.location.href = "/"+data+"/last";
    }
    function previous() {
        if (issue > 1) {
            issue -= 1;
            window.location.href = "/"+data+"/" + issue;
        }
    }
    function next() {
        console.log(finalpage);
        if (issue < finalpage) {
        issue += 1;
        window.location.href = "/"+data+"/" + issue;
        }
    }
    document.getElementById("first-button").addEventListener("click", first);
    document.getElementById("next-button").addEventListener("click", next);
    document.getElementById("prev-button").addEventListener("click", previous);
    document.getElementById("last-button").addEventListener("click", last);

</script>